<div [ngStyle]="{'overflow': 'hidden'}">

  <div (click)="startGame()">
    <img src="./assets/play.png" alt="play" [ngClass]="{'playButton': true}"/>
  </div>

  <div [ngClass]="{'score': true, 'score-animation': gameOver}">
    score : {{ score }} <br/>
  </div>

  <div [ngClass]="['game-container']">
  
    <img #car id="car" [ngClass]="{'car': true, 'car-animation': isCarMoving}"   src="./assets/car.png"/>
    <img #boy [ngClass]="{'boy': true,'boy-jump': jump }" [ngStyle]="{'left': boyLeft}" src="./assets/running-boy.png"/>

  </div>
</div>
